.aw-team .membereditor .edstnew .edstedit,
.aw-team .membereditor .edstedit .edstnew {
	display: none;
}
.aw-team .membereditor dt {
	width: 16em;
}
.aw-team .membereditor dd {
	margin-left: 17em;
	width: 540px;
}
.aw-team .membereditor .invite p .eml {
	font-style: italic;
}
.aw-team .membereditor dl.email .inpline {
	position: relative;
}
.aw-team .membereditor dl.email img.ld {
	position: absolute;
	left: 386px;
	top: 9px;
}
