.aw-team .grouplist .grouprow {
	border: 1px solid #E3E3D7;
	margin-bottom: 10px;
}

.aw-team .grouplist .grouprow .ihd,
.aw-team .grouplist .grouprow .ibd {
    padding: 6px 9px;
}
.aw-team .grouplist .grouprow .ihd {
	position: relative;
	color: #303021;
	background-color: #F7F7F3;
	border-bottom: 1px solid #E3E3D7;
}

.aw-team .grouplist .grouprow .ihd .rbtns {
    right: 5px;
    top: 4px;
}

/* * * * * * * Список участников * * * * * * * */
.aw-team .memberlist .memberrow {
	width: 29%;
	float: left;
	margin-right: 10px;
	height: 65px;
}
.aw-team .memberrow .view {
	position: relative;
}
.aw-team .memberrow {
    border: 1px solid #E3E3D7;
    margin-bottom: 10px;
    padding: 10px 15px;
}
.aw-team .memberrow .avtr {
    float: left;
    margin-right: 10px;
}
.aw-team .memberrow .unm {
	font-size: 1.2em;
	display: block;
}

.aw-team .memberrow .isinvite {
	position: absolute;	top: 1px; right: 1px;
	width: 10px;
	text-align: center;
	font-weight: bold;
	color: red;
	cursor: default;
}
